<div
  class="
    rounded-lg
    bg-white
    drop-shadow
    flex
    h-28
    hover:cursor-pointer
    hover:bg-slate-50
  "
  [class.selected]="isSelected"
>
  <ng-container *ngIf="cactus != null; else emptyState">
    <div class="flex-none w-24 h-full relative">
      <img
        [src]="
          cactus?.avatar != null
            ? cactus?.avatar + '?lock=' + cactus?.id
            : '/assets/placeholder.svg'
        "
        class="absolute inset-0 w-full h-full object-cover rounded-lg"
      />
    </div>

    <div class="p-4" [class.font-bold]="isSelected">
      {{ cactus?.name != "" ? cactus.name : "Cactus sans nom" }}
    </div>
  </ng-container>

  <ng-template #emptyState>
    <h1 class="m-3">Impossible de trouver ce cactus! 🌵😢</h1>
  </ng-template>
</div>
