/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Happy+Monkey&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
